* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    /* background-color: #BFACB5; */
    background-image: url("/summerProject/img/paper.jpg");
    color: #3D2B3D;
    font-family: "Jua", sans-serif;

}

nav{
    background-color:#F8C7CC;
    text-align: center;
    word-spacing: 180px;
    padding: 1%;
}

h1{
    margin-top: 1.7%;
    text-align: center;
}

section{
    font-size: 1.5em;
    padding: 1%;
    margin: 2%;
    background-color:#BFACB5 ;
    /* display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content:center;
    */

}
h2{
    margin: 2%;
    text-align: center;
}
