* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    /* background-color: #BFACB5; */
    background-image: url("/summerProject/img/paper.jpg");
    color: #3D2B3D;
    font-family: "Jua", sans-serif;

}

nav{
    /* background-color: #CBEFB6; */
    background-color:#F8C7CC;
    text-align: center;
    word-spacing: 180px;
    padding: 1%;
}

nav a{
    color: #D81E5B;
}

h1{
    margin-top: 1.7%;
    text-align: center;
    animation-name: name-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes name-animation {
    0% { color: #3D2B3D; }
    50% { color: #D81E5B; }
    100% { color: #3D2B3D; }
    
}

section{
    font-size: 1.5em;
    padding: 1%;
    margin: 2%;

}

section a{
    text-decoration: none;
    color: #D81E5B;
    text-align: center;
    transition-duration: 1s;
}

section a:hover {
    color: #F8C7CC;
    text-decoration: underline;
}


h2{
    margin: 2%;
    text-align: center;
}

.intro-section {
    display: flex;
    align-items: flex-start;
    gap: 20px; 
    align-items: center;
}

.intro-pic {
    display: flex;
    height: auto;
    border: 2px solid #3D2B3D;
    border-radius: 8px;
    transition: box-shadow 0.5s ease;
}
.intro-pic:hover {
    box-shadow: 0 0 20px 10px #CBEFB6,0 0 30px 15px #f2f8ee;
}

.intro-text {
    background-color: #BFACB5;
    flex: 1;
    border-radius: 8px;
}

p{
    background-color:#BFACB5 ;
    padding: 1%;
    border: #3D2B3D 2px dotted;
    border-radius: 8px;
    
}

.papaya-section {
    display: flex;
    align-items: flex-start;
    gap: 20px; 
    align-items: center;
}
.papaya-pic {
    max-width: 200px;
    height: auto;
    border: 2px solid #3D2B3D;
    border-radius: 8px;
    transition-duration: 4s;
}
.papaya-pic:hover{
    transform: rotate(360deg) scale(0.5);
}

.papaya-text {
    background-color: #BFACB5;
    border-radius: 8px;
    flex: 1;
}

.me-gif {
    text-align: center;
}

.my-goodbais {
    display: flex;
    gap: 20px; 
    align-items: center;
    margin-left: 45%;
    margin-right: 45%;
}




ul, ol{
    text-align: center;
    list-style-position: inside;
}

.inspo-1, .inspo-2, .inspo-3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 7px;
}

footer p{
    /* background-color: #CBEFB6; */
    background-color:#F8C7CC;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

footer a{
    color:#D81E5B;
}

